@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import 'colors';
@import 'select';
@import 'dashboard';
@import 'dialog';

/* admin css file */
html{
    // margin: 20px;
    font-family: sans-serif;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 98vh; /* Avoid the IE 10-11 `min-height` bug. */
    margin: 4px;
}

.content {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
  }

  .footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
    background-color: $purple;
    color: $white;
    
  }

  a{color: $purple; text-decoration: none;}

input{
    padding: 4px;
    font-size: 16px;
}

a{text-decoration: none;}
a:hover{text-decoration: underline;}
// Admin session header bar

.menuContainer{
  background-color: $purple;
  ul{
    padding: 20px;
    color: $white;
  }
  ul.menu li{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
  }
  a{
    color: $white;
    text-decoration: none;
  }

}

// Home link with icon
li.home:before{
  content: '\f015'; /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 4px;
  }

.adminSession{
    padding: 10px 0 0 10px; 
    background-color:$purple;
    color: $white;

    span{
        font-size: 12px;
        color: rgba(255, 255, 255, 0.714);
        margin-left: 20px;
    }
    
    a{
        color:white;
        text-decoration: none;
        
    }
    a:hover{
        color: yellow;
        text-decoration: underline;
    }
    ul.menu{
        padding:20px;
    }
    ul.menu.Admin{
        padding:10px;
    }
    ul.menu li{
        display: inline;
        list-style-type: none;
        margin-right: 20px;
    }
    
    li.dashboard:before{
      content: '\f3fd'; /* You should use \ and not /*/
      font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
      font-style: normal;
      font-weight: 600;
      text-decoration: inherit;
      margin-right: 4px;
    }
    // admin register
    li.register:before{
        content: '\f234'; /* You should use \ and not /*/
        font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
        font-style: normal;
        font-weight: 600;
        text-decoration: inherit;
        margin-right: 4px;
    }
    li.logout::before{
        content: '\f2f5'; /* You should use \ and not /*/
        font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
        font-style: normal;
        font-weight: 600;
        text-decoration: inherit;
        margin-right: 4px;
    }
    
}
// Page Header with a logo
header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    // text-transform: uppercase;
    color: $purple;
    // margin:40px 0;
}
header:before{
    content: '\f505'; /* You should use \ and not /*/
    font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    margin-right: 10px;
    font-size: 40px;
    color: $faintGrey;
}

// Form styles
.form-container{
    
    margin: 40px;

    #notify{
       display:flex;
       justify-content: center; 
       height: 40px;
       color: $notifyText;
       
    }

  #notify.error:before{
        content: '\f06a'; /* You should use \ and not /*/
        font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        text-decoration: inherit;
        margin-right: 10px;
        color: $epicFail;
        
              
  }
  
  #notify.success:before{
      content: '\f164'; /* You should use \ and not /*/
      font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
      font-style: normal;
      font-weight: 600;
      text-decoration: inherit;
      margin-right: 10px;
      color: $success;
    }

}

.flex-outer, .flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 500px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 300px;
  max-width: 300px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 300px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 10px;
//   border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
  cursor: pointer;
}

.flex-inner li {
  width: 100px;
}

.container{
    // margin: 40px;
    border: 1px solid $purple;
    // padding: 20px;
}

.table-container{
  margin-bottom: 10px;
}

// flex container for customers
$table-header:$purple;
$table-header-border: #1565C0;
$table-border: #d9d9d9;

div {
  box-sizing: border-box;
}

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border: solid 1px $table-border;
  transition: 0.5s;

  &:first-of-type {
    border-top: solid 1px $table-header-border;
    border-left: solid 1px $table-header-border;
  }
  &:first-of-type .flex-row {
    background: $table-header;
    color: white;
    border-color: $table-header-border;
    padding: 10px;
    flex: 1;
  }
  &:first-of-type .campaignHead{
    background:$campaignHeader;
    text-transform: uppercase;
    font-size: smaller;
  }
   
  .flex-row{
    flex:1;
    padding: 10px;
  }

  .flex-row.videoHead{
    background: $videoHeader;
    font-size: 12px;
    text-transform: uppercase;
  }
  .flex-row.video-content{
    // font-size: 12px;
    padding: 4px 10px;
  }
  .flex-row.campaign-content{
    background: $campaignContent;
  }
  
//   PI_UID listener link
  .flex-row.campaign-content.PI_UID {
    cursor: pointer;
}
.flex-row.campaign-content.PI_UID:hover{
    text-decoration: underline;
}

  .flex-row.campaignHead{
    background:$campaignHeader;
    text-transform: uppercase;
    font-size: smaller;
    color: $white;
  }

}

// new campaign link
.flex-row.newCampaign{
    margin: 20px 0;
    padding: 10px;
    width: 160px;
    background: #b46af885;
    color: #000;
    cursor: pointer;
}
.flex-row.newCampaign::before{
  content: '\f26c'; /* You should use \ and not /*/
    font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    margin-right: 10px;
    color: $purple;  
}

// new video link row
.flex-table.header.flex-row.video-content.newVideo{
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.flex-table.header.flex-row.video-content.newVideo:before{
    content: '\f03d'; /* You should use \ and not /*/
    font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    margin-right: 10px;
    color: $purple;          
}

.addCustomer{
    margin: 20px 0;
    padding: 10px;
    width: 160px;
    background: #b46af885;
    color: #000;
    cursor: pointer;

}
.addCustomer::before{
  content: '\f508'; /* You should use \ and not /*/
    font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    margin-right: 10px;
    color: $purple;   
}
.addCustomer:hover{
  color: $success;
}


// links for CRUD
.vLink{
    cursor: pointer;
    font-size: 14px;

}
.vLink::before{
    content: '\f06e'; /* You should use \ and not /*/
    font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    margin-right: 10px;
    color: $purple; 
}


.vEdit, .cEdit{ 
    color: $purple;
    cursor: pointer;
    text-decoration: none;
}
.vEdit:before, .cEdit:before{
    content: '\f044'; /* You should use \ and not /*/
    font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    margin-right: 5px;
    color: $purple;
          
}

.vDelete, .cDelete{
    color: $deleteLink;
    cursor: pointer;
    text-decoration: none;
}
.vDelete:before,.cDelete:before{
    content: '\f056'; /* You should use \ and not /*/
    font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    margin-right: 5px;
    color: $deleteLink;
}

.caution {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 44px;
    color: $purple;
    text-align: center;
}
.caution:before{
    content: '\f06a'; /* You should use \ and not /*/
    font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    margin-right: 10px;
    color: $epicFail;
          
}
// dataContainer in Dialog Window
#dataContainer{
    .vTitle , .youtube_id{
        font-size: 14px;
        color: $purple;
    }
}

  
//   admin login container
  .main-container{
    // margin: 10px;
    // border: 1px solid #000;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8989ba+0,8989ba+100;Purple+3D */
background: #8989ba; /* Old browsers */
background: -moz-linear-gradient(left,  #8989ba 0%, #8989ba 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #8989ba 0%,#8989ba 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #8989ba 0%,#8989ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=1 ); /* IE6-9 */


  }

// footer
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}

// admin panel

.panel{
  margin: 20px 0;
  .aEdit{cursor: pointer;}
  
  .col.aEdit:after{
    content: '\f044'; /* You should use \ and not /*/
    font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    margin-left: 5px;
    color: $purple;
  }

}