@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
.select-css {
  display: block;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #888;
}

.select-css:focus {
  border-color: #aaa;
  -webkit-box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
          box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.select-css option {
  font-weight: normal;
}

header.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  color: #52019d;
  border: 1px solid #ccc;
  background: lightgray;
}

header.dashboard:before {
  content: '\f508';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 10px;
  font-size: 40px;
  color: #e8e8e8;
}

section {
  display: table;
  width: 100%;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

section .headerRow {
  background-color: #52019d;
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
  padding: 4px;
}

section .row:nth-child(odd) {
  background: #e6e6e6;
}

section > * {
  display: table-row;
}

section .col {
  display: table-cell;
  padding: 10px;
}

.ui-widget .inputContainer {
  margin: 10px 0;
}

.ui-widget input {
  width: 400px !important;
}

.ui-widget input[type='checkbox'] {
  width: auto !important;
}

.ui-widget .inputContainer label.checkbox {
  display: inline;
  margin: 0;
  vertical-align: middle;
  font-size: smaller;
  color: #840000a6;
}

.ui-widget-content label {
  display: block;
  margin: 2px 0;
  color: purple;
}

.ui-dialog .ui-dialog-buttonpane {
  background: #6c33a0;
}

.ui-draggable .ui-dialog-titlebar {
  background: #6c33a0;
  color: rgba(255, 255, 255, 0.767);
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {
  background: #bababa;
}

.ui-widget-overlay.custom-overlay {
  background-color: black;
  background-image: none;
  opacity: 0.9;
  z-index: 1040;
}

/* admin css file */
html {
  font-family: sans-serif;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 98vh;
  /* Avoid the IE 10-11 `min-height` bug. */
  margin: 4px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  background-color: #52019d;
  color: #fff;
}

a {
  color: #52019d;
  text-decoration: none;
}

input {
  padding: 4px;
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menuContainer {
  background-color: #52019d;
}

.menuContainer ul {
  padding: 20px;
  color: #fff;
}

.menuContainer ul.menu li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

.menuContainer a {
  color: #fff;
  text-decoration: none;
}

li.home:before {
  content: '\f015';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 4px;
}

.adminSession {
  padding: 10px 0 0 10px;
  background-color: #52019d;
  color: #fff;
}

.adminSession span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.714);
  margin-left: 20px;
}

.adminSession a {
  color: white;
  text-decoration: none;
}

.adminSession a:hover {
  color: yellow;
  text-decoration: underline;
}

.adminSession ul.menu {
  padding: 20px;
}

.adminSession ul.menu.Admin {
  padding: 10px;
}

.adminSession ul.menu li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

.adminSession li.dashboard:before {
  content: '\f3fd';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 4px;
}

.adminSession li.register:before {
  content: '\f234';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 4px;
}

.adminSession li.logout::before {
  content: '\f2f5';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 4px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  color: #52019d;
}

header:before {
  content: '\f505';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 10px;
  font-size: 40px;
  color: #e8e8e8;
}

.form-container {
  margin: 40px;
}

.form-container #notify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  color: #313131;
}

.form-container #notify.error:before {
  content: '\f06a';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  text-decoration: inherit;
  margin-right: 10px;
  color: #8d0505;
}

.form-container #notify.success:before {
  content: '\f164';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 10px;
  color: green;
}

.flex-outer, .flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 500px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-inner {
  padding: 0 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  max-width: 300px;
}

.flex-outer > li > label + *,
.flex-inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 10px;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
  cursor: pointer;
}

.flex-inner li {
  width: 100px;
}

.container {
  border: 1px solid #52019d;
}

.table-container {
  margin-bottom: 10px;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border: solid 1px #d9d9d9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.flex-table:first-of-type {
  border-top: solid 1px #1565C0;
  border-left: solid 1px #1565C0;
}

.flex-table:first-of-type .flex-row {
  background: #52019d;
  color: white;
  border-color: #1565C0;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-table:first-of-type .campaignHead {
  background: #3a3636;
  text-transform: uppercase;
  font-size: smaller;
}

.flex-table .flex-row {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.flex-table .flex-row.videoHead {
  background: silver;
  font-size: 12px;
  text-transform: uppercase;
}

.flex-table .flex-row.video-content {
  padding: 4px 10px;
}

.flex-table .flex-row.campaign-content {
  background: #d5cdff;
}

.flex-table .flex-row.campaign-content.PI_UID {
  cursor: pointer;
}

.flex-table .flex-row.campaign-content.PI_UID:hover {
  text-decoration: underline;
}

.flex-table .flex-row.campaignHead {
  background: #3a3636;
  text-transform: uppercase;
  font-size: smaller;
  color: #fff;
}

.flex-row.newCampaign {
  margin: 20px 0;
  padding: 10px;
  width: 160px;
  background: #b46af885;
  color: #000;
  cursor: pointer;
}

.flex-row.newCampaign::before {
  content: '\f26c';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 10px;
  color: #52019d;
}

.flex-table.header.flex-row.video-content.newVideo {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.flex-table.header.flex-row.video-content.newVideo:before {
  content: '\f03d';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 10px;
  color: #52019d;
}

.addCustomer {
  margin: 20px 0;
  padding: 10px;
  width: 160px;
  background: #b46af885;
  color: #000;
  cursor: pointer;
}

.addCustomer::before {
  content: '\f508';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 10px;
  color: #52019d;
}

.addCustomer:hover {
  color: green;
}

.vLink {
  cursor: pointer;
  font-size: 14px;
}

.vLink::before {
  content: '\f06e';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 10px;
  color: #52019d;
}

.vEdit, .cEdit {
  color: #52019d;
  cursor: pointer;
  text-decoration: none;
}

.vEdit:before, .cEdit:before {
  content: '\f044';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 5px;
  color: #52019d;
}

.vDelete, .cDelete {
  color: #610404;
  cursor: pointer;
  text-decoration: none;
}

.vDelete:before, .cDelete:before {
  content: '\f056';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 5px;
  color: #610404;
}

.caution {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 44px;
  color: #52019d;
  text-align: center;
}

.caution:before {
  content: '\f06a';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 10px;
  color: #8d0505;
}

#dataContainer .vTitle, #dataContainer .youtube_id {
  font-size: 14px;
  color: #52019d;
}

.main-container {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8989ba+0,8989ba+100;Purple+3D */
  background: #8989ba;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#8989ba), to(#8989ba));
  background: linear-gradient(to right, #8989ba 0%, #8989ba 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=1 );
  /* IE6-9 */
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}

.panel {
  margin: 20px 0;
}

.panel .aEdit {
  cursor: pointer;
}

.panel .col.aEdit:after {
  content: '\f044';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-left: 5px;
  color: #52019d;
}
/*# sourceMappingURL=admin.css.map */