// colors
$purple:#52019d;
$faintGrey: #e8e8e8;
$epicFail: rgb(141, 5, 5);
$success: green;
$notifyText: #313131;   
$white: #fff;
$campaignHeader: rgb(58, 54, 54);
$campaignContent: #d5cdff;
$videoHeader: silver;
$youtubeIcon: red;
$deleteLink: rgb(97, 4, 4);
