@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
html {
  font-family: sans-serif;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 98vh;
  /* Avoid the IE 10-11 `min-height` bug. */
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  background-color: #52019d;
  color: #fff;
}

input {
  padding: 4px;
  margin-left: 6px;
}

nav {
  background-color: #52019d;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: yellow;
  text-decoration: underline;
}

ul.menu {
  color: #fff;
  padding: 20px;
}

ul.menu li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

li.admin:before {
  content: '\f505';
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  margin-right: 4px;
}

#notify {
  color: red;
  font-weight: 700;
  text-transform: uppercase;
}

.main-container {
  border: 1px solid #000;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8989ba+0,8989ba+100;Purple+3D */
  background: #8989ba;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#8989ba), to(#8989ba));
  background: linear-gradient(to right, #8989ba 0%, #8989ba 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=1 );
  /* IE6-9 */
}

.main-container #img-container img {
  height: 400px;
  -webkit-transition: -webkit-transform ease 0.6s;
  transition: -webkit-transform ease 0.6s;
  transition: transform ease 0.6s;
  transition: transform ease 0.6s, -webkit-transform ease 0.6s;
}

.main-container #img-container img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-container ul.flex-outer {
  padding: 0;
}

.form-container .flex-outer li,
.form-container .flex-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.form-container .flex-outer > li > label,
.form-container .flex-outer li p {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 120px;
          flex: 1 0 120px;
  max-width: 220px;
}

.form-container .flex-outer > li > label + *,
.form-container .flex-inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 220px;
          flex: 1 0 220px;
}

.form-container .flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.form-container .flex-inner li {
  width: 100px;
}

.form-container .flex-inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */